{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{%block css%}

{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">A JOURNEY THAT STARTED WITH A SINGLE BOOK</h1>
      <p>MyCart is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and registered in Singapore.The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 p-2">
        <h2>Leadership Principles</h2>
        <p>We hold ourselves and each other accountable for demonstrating the Leadership Principles through our actions every day. Our Leadership Principles describe how Amazon does business, how leaders lead, and how we keep the customer at the center of our decisions.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4" p-2>
        <h2>Our Positions</h2>
        <p>We created this page to provide customers, investors, employees views on certain issues. While our positions are carefully considered and deeply held , there is much room for healthy debate and differing opinions. We hope being clear about our position is helpful.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4 p-2">
        <h2>Our Core Values</h2>
        <p>At MyCart, it is our core values that guide all aspects of our business and the way we conduct ourselves. We strive to do the right thing, in the right way at all times. Here’s what being a Flipster is all about</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}

{% block js %}
<script>
  // adding elements in cart using class name 'cart' //
if(localStorage.getItem('cart') == null)
{
           var cart={};
}
else{
           cart= JSON.parse(localStorage.getItem('cart'));
           a= 0;
           for (var item in cart)
           {
                   a = a + cart[item][0];
           }
           // here cart is ID (from basic.html) //
           document.getElementById('cart').innerHTML = a;
}
</script>
{% endblock %}